<br />
<h1 class="text-center">Promote Your Pawn</h1>
<br />
<div id="promote">
  <p class="promotion-notice">Select the type of piece that you want to promote your pawn to!</p>
  <br />
  <%= simple_form_for @piece, url: piece_path(@piece) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%= f.input :promotion_type %>
  </div>
  <br />
  <b>Options:</b> Knight, Bishop, Rook, Queen.
  <br />
  <br />
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
</div>
  <br />

