
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
<<<<<<< HEAD
=======
  <%= f.input :name %>
>>>>>>> 6d0cfcb939150325807db57d6c09403f60bc8f89
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
