<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Games</h1>
<br>
<% @games.each do |game| %>
  <%= link_to 'Play', game %>
<% end %>

<br>

<%= link_to 'New Game', new_game_path %>
=======
<h1> Available Games </h1>

  <div class="sign-up">
    <% @game.each do |game| %>
      <h3><%= game.white_id.nil? ? 'White is available' : 'Black is available' %></h3>
        <h3>Game <%=game.game_id %> <%= game.name %>
        <%= button_to 'Join game', game_path(game.id), { action: :update, method: :patch } %>
    <% end %>
  </div>
 
>>>>>>> ac1d245d5fa738f76c7a3295c75ad4d91ad434b8
