<<<<<<< HEAD
<h1>New Game</h1>

<%= render 'form', game: @game %>

<%= link_to 'Back', games_path %>
=======
<div class="sign-up">
  <h1>Create a Game</h1>
    <%= simple_form_for @game do |f| %>
      <%= f.input   :name %>
      <%= f.button  :submit  %>
    <% end %>
</div>
>>>>>>> ac1d245d5fa738f76c7a3295c75ad4d91ad434b8
