<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
</head>

<body data-turbolinks="false">
    <p id="notice">
        <%= notice %>
    </p>
    <h1 class="text-center">
        <%= @game.name %>
        <%= @game.white_id %>
        <%= @game.black_id %>
    </h1>
    <br />
    <div class="rotate">
        <table>
            <tr>
                <td class="left">
                    <p class="rotate-board" id="Flip_Board">Flip</p>
                </td>
                <td>
                </td>
                <td class=right>
                    <p class="rotate-board" id="Rotate_Board">Rotate</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="set-board">
        <div class="chess" align="center">
            <div class="board">
                <% (0..7).each do |y| %>
                <% (0..7).each do |x| %>
                <%  piece = @game.pieces.where("(x_coord = ? AND y_coord = ?)", x,y).first %>
                <% if piece.nil? %>
                <div class="droppable <%= @game.tile_color(x,y)%>" data-x_coord=<%=x %> data-y_coord =
                    <%= y %>></div>
                <% else %>
                <div class="droppable <%= @game.tile_color(x,y)%>" data-x_coord=<%=x %> data-y_coord =
                    <%= y %>>
                    <div class="piece " data-piece-id="<%= piece.id %>" data-x_coord=<%=x %> data-y_coord=
                        <%= y %>>
                        <%=  piece.unicode_symbol.html_safe %>
                    </div>
                </div>
                <% end %>
                <% end %>
                <% end %>
            </div>
        </div>
        <%= link_to 'Back', games_path %>
        <script>
        $(document).ready(function() {
            let getGameData = async () => {
                let id = $('.piece').attr('data-piece-id');
                $.getJSON(id).success((data) => {
                    parseState(data);
                });
            };
            let updatePieceData = () => {
                let data = {
                    piece: {
                        id: data - piece - id,
                        x_coord: data - x_coord,
                        y_coord: data - y_coord
                    }
                }
                let id = $('.piece').attr('data-piece-id');
                $.ajax({
                    url: '/pieces/' + id,
                    type: 'PUT',
                    data: data,
                    dataType: 'json',
                    success: function(result) {
                        alert("posted");
                    }
                });
            }

            getGameData();

            $('.piece').draggable({
                revert: "invalid"
            });
            $('.droppable').droppable({
                drop: (e, ui) => {
                    e.target.innerHTML = `<div class="piece">${ui.draggable.html()}</div>`;
                    ui.draggable.remove();
                    $('.piece').draggable({
                        revert: "invalid"
                    });
                    updatePieceData();
                }
            })
        });
        </script>
        <script>
        var rotation = 0;

        jQuery.fn.rotate = function(degrees) {
            $(this).css({
                '-webkit-transform': 'rotate(' + degrees + 'deg)',
                '-moz-transform': 'rotate(' + degrees + 'deg)',
                '-ms-transform': 'rotate(' + degrees + 'deg)',
                'transform': 'rotate(' + degrees + 'deg)'
            });
        };

        $('#Rotate_Board').click(function() {
            rotation += 90;
            $('.set-board, .chess td, #labels td').rotate(rotation);
        });


        $('#Flip_Board').click(function() {
            rotation -= 180;
            $('.set-board, .chess td, #labels td').rotate(rotation);
        });
        </script>
</body>
<%= @piece.inspect %>