<p id="notice"><%= notice %></p>

<p>
  <%= @game.username %>
  <%= @game.player_id %>
  <%= @game.white_id %>
  <%= @game.black_id %>
</p>

<%= render 'board', game: @game %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
