
<p id="notice"><%= notice %></p>
<h1 class="text-center">
  <%= @game.name %>
</h1>
<br />
<div class="set-board">
  <div class="chess" align="center">
    <div class="board">
      <table>
        <% (0..7).each do |y_coord| %>
          <% (0..7).each do |x_coord| %>
            <td data-x-coord=<%= x_coord %> data-y-coord=<%= y_coord %> class=<%= "#{(y_coord.odd? == x_coord.odd? ? "white-tile" : "black-tile")}" %>>
            <% board_piece = Piece.where(x_coord: x_coord, y_coord: y_coord).first %>
						<% if board_piece.present? %>
							<span class="<%=board_piece.color%>" data='{"id": <%= piece.id %> data-x-coord=<%= board_piece.x_coord %> data-y_coord=<%= board_piece.y_coord %>><%= board_piece.image %></span>
            <% end %>
                </td>
        <% end %> 
      </tr>
      <% end %>
      </table>
    </div>
    <div id="labels">
      <table class="y_labels">
        <% for i in 8.downto(1) %>
          <td>
            <div class="label_square"><%= i %></div>
          </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="labels">
      <table class="x_labels">
        <tr>
          <% x_labels = { 0 => 'A', 1 => 'B', 2 => 'C', 3 => 'D', 4 => 'E', 5 => 'F', 6 => 'G', 7 => 'H' } %>
          <% for i in 0..7 %>
            <td>
              <div class="letters"><%= x_labels[i] %></div>
            </td>
          <% end %>
        </tr>
      </table>
      <br />
    </div>
  </div>
</div>


<%= link_to 'Back', games_path %>